#resizeBoxHelper {
    position: fixed;
    display: block;
    box-sizing: border-box !important;
    width: 1290px !important;
    max-width: 1290px !important;
    height: 730px !important;
    max-height: 730px !important;
    padding: 0px !important;
    margin: 0px !important;
    top: 0;
    left: 0;
    border: 20px dashed #f44336;
    z-index: 22147483647;
    pointer-events: none;
}
