html {
    cursor: wait;
}

#visconnect-container {
    padding: 0px !important;
    height: 100px !important;
    width: 100px !important;
    z-index: 2147483647;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    right: 50px !important;
    bottom: 50px !important;
    background: rgba(220, 220, 220, 0.92) !important;
    color: black !important;
    line-height: 1.2em;
    text-align: center !important;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#visconnect-invite {
    display: flex;
    text-align: center !important;
    justify-content: center;
    align-items: center;
}

#visconnect-logo {
    padding-left: 0px !important;
}

#visconnect-invite:hover #visconnect-logo path {
    stroke: white !important;
}

#annotation-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2147483645;
    pointer-events: none;
    cursor: crosshair;
}

#annotation-ui {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2147483646;
}

.swatch {
    pointer-events: all;
    cursor: pointer;
}

.swatch.active {
    stroke-width: 3px;
    stroke: #3e68b5;
}

.control {
    pointer-events: all;
    cursor: pointer;
    padding: 4px;
}

.control.active {
    outline: 2px solid #3e68b5;
}

.line {
    fill: none;
    /* stroke-width: 2px; */
    stroke-linejoin: round;
    stroke-linecap: round;
}

#trash-btn {
    padding: 0px !important;
    position: fixed;
    height: 100px !important;
    width: 100px !important;
    z-index: 2147483647;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    right: 50px !important;
    bottom: 175px !important;
    background: rgba(220, 220, 220, 0.92) !important;
    color: black !important;
    line-height: 1.2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    transition: height 500ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trash-btn-img {
    height: 50px;
    width: 50px;
}

#palette-background {
    padding: 0px !important;
    position: fixed;
    height: 250px !important;
    width: 100px !important;
    z-index: 2147483645;
    right: 50px !important;
    bottom: 300px !important;
    background: rgba(220, 220, 220, 0.92) !important;
    line-height: 1.2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    transition: height 500ms;
}

#controls-background {
    padding: 0px !important;
    position: fixed;
    height: 100px !important;
    width: 100px !important;
    z-index: 2147483645;
    right: 50px !important;
    bottom: 576px !important;
    background: rgba(220, 220, 220, 0.92) !important;
    line-height: 1.2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    transition: height 500ms;
}
